<!DOCTYPE html>
<html>
  <head>
    <title>Node HTML test server</title>
    <link href="/assets/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <!-- add partial view-->
    <% include partials/nav.ejs %>
    <h1>Contact Us!</h1>
  </body>
</html>
